<%= form_for(promoter) do |f| %>
  <% if promoter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promoter.errors.count, "error") %> prohibited this promoter from being saved:</h2>

      <ul>
      <% promoter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :First_Name %>
    <%= f.text_field :First_Name %>
  </div>

  <div class="field">
    <%= f.label :Surname %>
    <%= f.text_field :Surname %>
  </div>

  <div class="field">
    <%= f.label :Company_Name %>
    <%= f.text_field :Company_Name %>
  </div>

  <div class="field">
    <%= f.label :BIO %>
    <%= f.text_area :BIO %>
  </div>

  <div class="field">
    <%= f.label :Location %>
    <%= f.text_field :Location %>
  </div>

  <div class="field">
    <%= f.label :Website %>
    <%= f.text_field :Website %>
  </div>

  <div class="field">
    <%= f.label :Facebook %>
    <%= f.text_field :Facebook %>
  </div>

  <div class="field">
    <%= f.label :Twitter %>
    <%= f.text_field :Twitter %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
